/* importing styles */
@import url("../fonts/Montserrat/montserrat.css");

/* basic styling to all elements */
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* standart changes for body */
body {
    margin: 0;
    padding: 0;
}

/* reseting margins and paddings for all headings and paragraphs */
h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* header */
header {
    padding: 20px;
    max-width: 1500px;
    margin: 0 auto;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    height: 26px;
}

header .menu ul {
    display: flex;
    gap: 28px;
}

header .menu ul li {
    list-style: none;
}

header .menu ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.2s ease-in-out;
}

header .menu ul li a:hover {
    color: #35AFF4;
}

/* search results */
.results {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.results .item {
    border: 1px solid #DEDEDE;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.results .item:not(:last-child) {
    margin-bottom: 20px;
}

.results .item .main-content > .info {
    display: flex;
    gap: 20px;
    align-items: center;
}

.results .item .main-content {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.results .item .info .left .flight-number {
    font-size: 26px;
    font-weight: 700;
    color: #000;
    margin-bottom: 6px;
}

.results .item .info .left .route {
    font-size: 16px;
    font-weight: 400;
    color: #909090;
}

.results .item .info .content .airports {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-bottom: 6px;
}

.results .item .info .content .date {
    font-size: 16px;
    font-weight: 400;
    color: #909090;
}

.results .item .info .content .date span {
    font-weight: 700;
    color: #000;
}

.results .item .right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.results .item .right .price {
    font-size: 26px;
    font-weight: 700;
    color: #000;
}

/* passenger details */
.passengers {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.passengers h1 {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
}

.passengers .item {
    border: 1px solid #DEDEDE;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.passengers .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.passengers .form input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
}

.passengers button {
    width: 20%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #d93333;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-top: 20px;
}

.passengers button:hover {
    opacity: 0.7;
}

.passengers > .button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #35AFF4;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: 30%;
    margin-top: 20px;
}

.passengers > .button:hover {
    opacity: 0.7;
}

/* total */
.total {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #DEDEDE;
    margin-top: 20px;
}

.total .price {
    font-size: 26px;
    font-weight: 700;
    color: #000;
}

.total .button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #35AFF4;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.total .button:hover {
    opacity: 0.7;
}

/* mobile */

@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    header .menu ul {
        display: none;
    }

    header .menu ul.active {
        display: flex;
    }

    .results .item .info .left .flight-number {
        font-size: 20px;
    }

    .results .item .info .content .airports {
        font-size: 16px;
    }

    .results .item .info .content .date {
        font-size: 14px;
    }

    .results .item .right .price {
        font-size: 20px;
    }

    .results .item .right .book {
        font-size: 16px;
    }

    .passengers h1 {
        font-size: 20px;
    }

    .passengers .form input {
        padding: 8px;
    }

    .passengers button {
        font-size: 14px;
    }

    .passengers > .button {
        font-size: 14px;
    }

    .total .price {
        font-size: 20px;
    }

    .total .button {
        font-size: 14px;
    }

    .total .button {
        width: 40%;
    }

    .total .button {
        padding: 8px;
    }
}


/* tablet */

@media (max-width: 1024px) {
    header .menu ul {
        display: none;
    }

    header .menu ul.active {
        display: flex;
    }
}
