/* importing styles */
@import url("../fonts/Montserrat/montserrat.css");

/* basic styling to all elements */
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* standart changes for body */
body {
    margin: 0;
    padding: 0;
}

/* reseting margins and paddings for all headings and paragraphs */
h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* header */
header {
    padding: 20px;
    max-width: 1500px;
    margin: 0 auto;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    height: 26px;
}

header .menu ul {
    display: flex;
    gap: 28px;
}

header .menu ul li {
    list-style: none;
}

header .menu ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.2s ease-in-out;
}

header .menu ul li a:hover {
    color: #35AFF4;
}

/* header */
.title {
    text-align: center;
    margin-top: 50px;
}

.title h1 {
    font-size: 40px;
    font-weight: 700;
    color: #000;
}

/* search results */
.results {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.results .item {
    border: 1px solid #DEDEDE;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.results .item:not(:last-child) {
    margin-bottom: 20px;
}

.results .item .main-content > .info {
    display: flex;
    gap: 20px;
    align-items: center;
}

.results .item .main-content {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.results .item .info .left .flight-number {
    font-size: 26px;
    font-weight: 700;
    color: #000;
    margin-bottom: 6px;
}

.results .item .info .left .route {
    font-size: 16px;
    font-weight: 400;
    color: #909090;
}

.results .item .info .content .airports {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-bottom: 6px;
}

.results .item .info .content .date {
    font-size: 16px;
    font-weight: 400;
    color: #909090;
}

.results .item .info .content .date span {
    font-weight: 700;
    color: #000;
}

.results .item .right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.results .item .right .price {
    font-size: 26px;
    font-weight: 700;
    color: #000;
}

.results .item .right .book {
    background: #35AFF4;
    border-radius: 10px;
    height: 48px;
    border: none;
    outline: none;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.results .item .right .book:hover {
    opacity: 0.7;
}

.results .item .additional-content {
    display: flex;
    gap: 30px;
    align-items: center;
}

.results .item .additional-content .airplane {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-top: 20px;
}

.results .item .additional-content .airplane img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.results .item .additional-content .airplane .info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: baseline;
}

.results .item .additional-content .airplane .label {
    font-size: 14px;
    font-weight: 500;
    color: #909090;
}

.results .item .additional-content .airplane .value {
    font-size: 16px;
    font-weight: 700;
    color: #000;
}

.results .item .additional-content .chance {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-top: 20px;
}

.results .item .additional-content .chance .circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.results .item .additional-content .chance .green {
    background: #45a145;
}

.results .item .additional-content .chance .red {
    background: #ba3535;
}

.results .item .additional-content .chance .yellow {
    background: #b4b41f;
}

.results .item .additional-content .chance .info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: baseline;
}

.results .item .additional-content .chance .label {
    font-size: 14px;
    font-weight: 500;
    color: #909090;
}

.results .item .additional-content .chance .value {
    font-size: 16px;
    font-weight: 700;
    color: #000;
}

/* search */
.search-block {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.search-block h1 {
    font-size: 34px;
    margin-bottom: 20px;
}

.search-block button {
    width: 30%;
    background: #35AFF4;
    border-radius: 20px;
    height: 48px;
    border: none;
    outline: none;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.search-block button:hover {
    opacity: 0.7;
}

.search {
    display: flex;
    justify-content: space-between;
    border: 1px solid #DEDEDE;
    width: 100%;
    height: fit-content;
    border-radius: 20px;
    padding: 24px;
}

.search .input:nth-child(1) {
    width: 29%;
}

.search .input:nth-child(2) {
    width: 29%;
}

.search .input:nth-child(3) {
    width: 14%;
}

.search .input:nth-child(4) {
    width: 14%;
}

.search .input:nth-child(5) {
    width: 9%;
}

.search .input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search .input p {
    font-size: 18px;
    font-weight: 500;
}

.search .input input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
}

.search .input select {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
}
